// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// $white: #ffffff;
@font-face {
  font-family: YoungSerif;
  src: url("../t/lay/YoungSerif-Regular.otf") format("opentype");
}

$theme-colors: (
  "light": #cdd5db,
  "dark": #380200,
  "primary": #e07b78,
  "secondary": #9a6265,
  "info": #335794,
  "success": #4da604,
  "warning": #ffc04e,
  "danger": #f3015e,
);
// $font-family-sans-serif: YoungSerif, system-ui, -apple-system, "Segoe UI",
//   Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
//   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// $link-color: xx;

// $body-color: #333;
$body-bg: #fbe9e8;
$list-group-bg: #faf3f3;
$card-bg: #faf3f3;
// $border-radius: 0.4rem;
// $success: #7952b3;

// <body style="background-color: #FBE9E8; color: #E07B78">

@import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
// $enable-gradients: true;
// $enable-shadows: true;

// $offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Include functions first
// @import "bootstrap/scss/functions";

// // Customize some defaults

// // Required
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/variables-dark";
// @import "bootstrap/scss/maps";
// @import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/root";
// @import "bootstrap/scss/reboot";

// @import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/containers";
// @import "bootstrap/scss/grid";
// // @import "bootstrap/scss/tables";
// // @import "bootstrap/scss/forms";
// @import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// // @import "bootstrap/scss/breadcrumb";
// // @import "bootstrap/scss/accordion";
// // @import "bootstrap/scss/pagination";
// // @import "bootstrap/scss/badge";
// // @import "bootstrap/scss/alert";
// // @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// // @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal"; // Requires transitions
// // @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// // @import "bootstrap/scss/carousel";
// // @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// // Helpers
// @import "bootstrap/scss/helpers";

// // Utilities
// @import "bootstrap/scss/utilities/api";

//
// Custom styles
//

// @import "icon-list";

// body {
//   padding: 1.5rem;
// }
