{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": ["_layouts/**/*.html", "_includes/*.html", "index.html"],
      "options": {
        "parser": "liquid-html",
        "printWidth": 120
      }
    }
  ]
}
