---
layout: w
---

<h2>Kostiumy - dziewczynki</h2>
<a href="kostiumy.html" class="button2">Powrót</a>

<br /><br />
<ul class="lista-kostiumow">
    {% for category in site.data.kostiumy.dziewczynki %}
        {% for stroj in (1..category.amount) %}
            <li>
                <a href="kostiumy/large/dziewczynki/{{ category.rating }}/{{ stroj }}.jpg" rel="group">
                    <img src="kostiumy/thumb/dziewczynki/{{ category.rating }}/{{ stroj }}.jpg" alt="" />
                </a>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

<!-- <ul class="lista-kostiumow">
    {% for stroj in (1..119) %}

        <li>
            <a href="https://res.cloudinary.com/maskarada/image/upload/w_400,h_600/stroje/dziewczynki/{{ stroj }}.jpg" rel="group">
            <img src="https://res.cloudinary.com/maskarada/image/upload/w_120,h_180/stroje/dziewczynki/{{ stroj }}.jpg" alt="" />
            </a>
        </li>
        
    {% endfor %}
</ul> -->
