---
layout: w
---

<h2>Kostiumy - jasełka</h2>
<a href="kostiumy.html" class="button2">Powrót</a>

<br /><br />
<ul class="lista-kostiumow">
    {% for category in site.data.kostiumy.jaselka %}
        {% for stroj in (1..category.amount) %}
            <li>
                <a href="kostiumy/large/jaselka/{{ category.rating }}/{{ stroj }}.jpg" rel="group">
                    <img src="kostiumy/thumb/jaselka/{{ category.rating }}/{{ stroj }}.jpg" alt="" />
                </a>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
