</div></div>
<div id="footer" class="container">
	<a href="/w/index.html"><img src="lay/img/mini_w.png"/></a>
    <br />
    Wszelkie prawa zastrzeżone &copy;
	Maskarada 2012
</div>



<br /><br /><br /><br />
<div id="end" style="
background-image: repeating-linear-gradient(-45deg,rgba(255,255,255,.3), rgba(255,255,255,.3) 40px, transparent 40px, transparent 80px)"
>
<h3 style="padding: 20px 0 0 50px">Nasi partnerzy:</h2>
<center>
    
<a target="_blank" href="https://pl-pl.facebook.com/WYPIEKIKULTURY"><img style="height: 75px" src="lay/img/p/wypieki.jpg">
<a target="_blank" href="http://www.radiobajka.pl"><img src="lay/img/p/radiobajka.png">
<a target="_blank" href="http://www.qlturka.pl"><img src="lay/img/p/qlturka.png">    
<a target="_blank" href="http://www.gogaga.pl"><img src="lay/img/p/gaga.png">
</center>
</div>	


</body>





</html>
