  <footer class="w-footer container">
    <div class="card w-footer__card">
      <div class="card-body">
        <ul class="w-footer__facts">
          <li><span class="w-footer__k">Adres</span> Warszawa – Zacisze, ul. Ewy 5</li>
          <li><span class="w-footer__k">Telefon</span> <a href="tel:501027278">501 027 278</a></li>
          <li><span class="w-footer__k">E-mail</span> <a href="mailto:teatr.maskarada@gmail.com">teatr.maskarada@gmail.com</a></li>
          <li><span class="w-footer__k">Uwaga</span> W wakacje nieczynne</li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="w-copyright container">
    Wszelkie prawa zastrzeżone © Maskarada · Wypożyczalnia kostiumów dla dzieci, Warszawa
  </div>

  {% include 'lightbox.html' %}
