</div></div>
<center>
<div class="fb-page" data-href="https://www.facebook.com/Maskarada-Teatr-dla-Dzieci-1506342302958267" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
</center>

<br /><br />




<div id="footer" class="container">
	<h3>Zobacz również:</h3>
	<a href="/w/index.html"><img src="lay/img/mini_w.png"/></a>
    <br />
    Wszelkie prawa zastrzeżone &copy;
	Maskarada 2012
</div>



<br /><br /><br /><br />

	
	
<div id="end" style="
background-image: repeating-linear-gradient(-45deg,rgba(255,255,255,.3), rgba(255,255,255,.3) 40px, transparent 40px, transparent 80px)"
>
<h3 style="padding: 20px 0 0 50px">Nasi partnerzy:</h3>
<center>

<a target="_blank" href="https://www.gov.pl/web/kultura/fundusz-wsparcia-kultury/"><img src="lay/img/p/fwk.jpg">
	<!-- <a target="_blank" href="http://www.cbr.edu.pl/"><img src="lay/img/p/cbr.jpg"> -->
<!-- <a target="_blank" href="http://www.gogaga.pl"><img src="lay/img/p/gaga.png"> -->
<!-- <a target="_blank" href="http://www.radiobajka.pl"><img src="lay/img/p/radiobajka.png"> -->
<a target="_blank" href="http://www.qlturka.pl"><img src="lay/img/p/qlturka.png">
<a target="_blank" href="http://www.dzieckowwarszawie.pl"><img src="lay/img/p/dziecko_w_warszawie.jpeg">
<a target="_blank" href="https://biletomat.pl"><img src="lay/img/p/biletomat_logo.png">
<a target="_blank" href="https://www.ebilet.pl/miejsce/teatr-maskarada"><img style="padding-bottom: 1%; height: 40px;
 width: auto;" src="lay/img/p/ebilet_logo.png">

</center>
	



</div>	


</body>





</html>
