<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Description" content="Szeroki wybór ponad 800 kostiumów i strojów dla dzieci. Nasz adres: Warszawa Zacisze ul. Ewy 5" />
	<meta name="Content-Language" content="pl" />
	<title>MASKARADA Wypożyczalnia kostiumów dla dzieci</title>
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.1.css" type="text/css" />
	<link rel="stylesheet" href="lay/style.css" type="text/css" />

	<base href="BASE_HREF"/>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>
	
	<script type="text/javascript">
    //<![CDATA[
		$(document).ready(function () {
			$(".lista-kostiumow a").fancybox();
		});
    //]]>
    </script>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28621698-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	
</script>
</head>
<body > 

<div id="page">

<div id="header" class="container" >
	<h1><a href="index.html">MASKARADA Wypożyczalnia kostiumów dla dzieci</a></h1>
	<ul>
		<li><a href="index.html">Strona główna</a></li>
		<li><a href="kostiumy.php">Kostiumy</a></li>
		<li><a href="cennik.html">Cennik</a></li>
		<li><a href="kontakt.html">Kontakt</a></li>
	</ul>
</div>

<div id="main" class="container">
	
